// input, textarea{
//   padding: 5px;
//   margin: 5px;
// }

@media only screen and (max-width: 960px){
  #addForm input{
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  #addForm{
    display:block;
  }
  #addForm input{
    width: 100%;
    box-sizing: border-box;
  }
}