
.social-btn{
    display:flex;
}

.btn-social{    
    color:#fff;
    margin-top: 10px; 
    flex-basis: 0;
    flex-grow: 5;
}

.btn-google{
    background-color: #DD4B39;
}

.btn-facebook{
    background-color: #3B5998;  
}


